@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: GilroyBold;
  src: url(/fonts/gilroy_bold.ttf);
}

@font-face {
  font-family: GilroyMedium;
  src: url(/fonts/gilroy_medium.ttf);
}

@font-face {
  font-family: GilroyRegular;
  src: url(/fonts/gilroy_regular.ttf);
}

@font-face {
  font-family: DMSans;
  src: url(/fonts/DMSans-Regular.ttf);
}
@font-face {
  font-family: DMSans;
  font-weight: 500;
  src: url(/fonts/DMSans-Medium.ttf);
}

.dmSans-regular {
  font-family: DMSans;
}

.dmSans-medium {
  font-family: DMSans;
  font-weight: 500;
}

* {
  font-family: GilroyRegular;
}

.bold {
  font-family: GilroyBold;
}

.medium {
  font-family: GilroyMedium;
}


#clouds {
    animation: slide 120s linear infinite;
    animation-delay: -40s;
  
  }
  
  #birds {
    animation-duration: 1s;
    animation: slide 100s linear infinite;
    animation-delay: -80s;
  }
  
  @keyframes slide {
    0% {
      transform: translateX(-100%);
    }
  
    100% {
      transform: translateX(100%);
    }
  
  }

  .yellow-icon{
    color: #FFC107;
  }
  .gray-icon{
    color: #666666;
  }